<template>
  <div class="container">
    <h2>Basic Table A</h2>
    <p>Vivamus a malesuada leo, sit amet euismod velit</p>            
    <table class="table">
      <thead>
        <tr>
          <th v-for="heading in headings" :key="heading">
            {{heading}}
          </th>
        </tr>
      </thead>
      
      <tbody>
        <tr
          v-for="item in numbers" :key="item.index" 
          :class="item.quantity >= 2 ? 'verde' : item.quantity == 1 ? 'amarillo' : 'gris'"
        >
          <td>{{item.index}}</td>
          <td>{{item.number}}</td>
          <td class="success">
            {{item.quantity}}
          </td>
          <td>{{item.position.first.position}}</td>
          <td>{{item.position.last.position}}</td>
        </tr>
      </tbody>
    </table>
    
    <div class="col-md-12 bg" v-if="loading">
      <div class="loader" id="loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'TableA',
    created() {
      this.getNumbers()
    },
    computed: {
      ...mapState([
        "numbers",
        "loading"
      ])
    },
    data: () => ({
      headings: [
        'N°',
        'Number',
        'Quantity',
        'First Position',
        'Last Position',
      ]
    }),
    methods: {
      ...mapActions([
        "getNumbers"
      ])
    }
  }
</script>

<style scoped>
 .verde {
    background-color: #dff0d8;
 }
 .amarillo {
   background-color: #fcf8e3;
 }
 .gris {
   background-color: #f1f1f1;
 }
</style>
