<template>
  <div class="container">
    <h2>Basic Table B</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>            
    <table class="table">
      <thead>
        <tr>
          <th v-for="heading in headings" :key="heading">
            {{heading}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item, index) in paragraph" :key="index">
          <td>{{index}}</td>
          <td v-for="(i, index) in 26" :key="index">
            {{item[index].quantity}}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col-md-12 bg" v-if="loading">
      <div class="loader" id="loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'TableB',
    created() {
      this.getParagraph()
    },
    computed: {
      ...mapState([
        "paragraph",
        "loading"
      ])
    },
    data: () => ({
      headings: [
        'N°',
        'A',
        'B',
        'C',
        'D',
        'E',
        'F',
        'G',
        'H',
        'I',
        'J',
        'K',
        'L',
        'M',
        'N',
        'O',
        'P',
        'Q',
        'R',
        'S',
        'T',
        'U',
        'V',
        'X',
        'W',
        'Y',
        'Z',
        'Suma numericos contenidos'
      ]
    }),
    methods: {
      ...mapActions([
        "getParagraph"
      ])
    }
  }
</script>