<template>
  <div id="app">
    <div id="nav">
      <button type="button" class="btn btn-success">
        <a href="#/table-b" @click="setReset('numbers')">Tabla B</a>
      </button>

      <button type="button" class="btn btn-primary btnA">
        <a href="#/" @click="setReset('paragraph')">Tabla A</a>
      </button>
    </div>
    <div>
      <div class="alert alert-danger" v-if="error">
        <strong>Ocurrio un error!</strong> {{message}}
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapState([
        "numbers",
        "error",
        "message"
      ])
    },
    methods: {
      ...mapMutations([
        "setReset"
      ]),
      ...mapActions([
        "getNumbers"
      ])
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 80px;
}

#nav a {
  font-weight: bold;
  color: #ffffff;
  text-decoration-line: none;
}

#nav button {
  float: right;
}

#nav .btnA {
  margin-right: 20px;
}

#loader span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
</style>
